
 * {margin: 0; padding: 10;}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

#navegacao-principal {
    position: relative;
    font-family: monospace;
    float: left;
    width: 100%;
}

#menu-principal {
    list-style: none;
    padding-left: 0;
}

#menu-principal li {
    background-color: #5f9ea0;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

#menu-principal li a {
    color: rgb(57, 41, 194);
    text-decoration: none;
}

.dropdown {
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
    box-shadow: 0px 8px 16px 0px hsl(197, 100%, 50%);
}

.dropdown li {
    clear: both;
    width: 100%;
}

#menu-principal li:hover,
#menu-principal li:focus-within {
    background-color: aqua;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

#menu-principal li a:hover {
    color: hwb(281 42% 6%);
}

/*Controle de exibição do Dropdown*/

#menu-principal li:hover>ul,
#menu-principal li:focus-within>ul
.dropdown ul:hover,
.dropdown ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
}

/*Ajustando o conteúdo da página para exibição em smartphones*/

@media screen and (max-width:480px) {
    body {
        max-width: 480px;
        font-size: 1.0em;
    }

    #menu-principal {
        width: auto;
        height: auto;
        background-color: hwb(56 15% 10%);
    }

    #menu-principal li {
        background-color: rgb(180, 235, 52);
        text-decoration: none;
        width: 100%;
        float: none;
    }

    #menu-principal li a {
        color: #373264;
        text-align: left;
        display: block;
        outline: none;
    }

    #menu-principal li:hover,
    #menu-principal li:focus-within,
    #menu-principal li a:hover {
        cursor: pointer;
        font-weight: bold;
        color: hwb(281 42% 6%);
        transition: 0.3s;
        left: 10px;
    }

    .dropdown {
        position: static;
        left: 0px;
        background-color: hsl(160, 51%, 29%);
        list-style: none;
    }
}

/*Ajustando o conteúdo do Flex-Box*/

article {
    padding: 10px;
    margin: 10px;
    background: hwb(221 59% 9%);
    flex: 150px;
}

article h1 {
    font-weight: 600;
}

section {
    display: flex;
    flex-flow: row wrap;
    font-size: 1.2em;
}

@media  screen and (min-width: 481px) and (max-width: 767px) {
    article {
        flex: 40%;
        font-size: 1.1em;
    }
}

@media screen and (min-width: 768px) {
    article {
        flex: 20%;
        font-size: 1em;
    }
}
